body{
	margin: 0px;
}
.header1{	
	background-color: #353535;
	padding-left: 175px;
	padding-right: 175px;
	padding-top: 5px;
	padding-bottom: 10px;
	

}

#logo{
	font-size: 30px;
	color: #c1b5ab;
	text-decoration: none;
	font-weight: 500;
}

#nav{
	background-color: #272727;
	padding: 8px;

}

.nava{
	text-decoration: none;
	padding: 5px;
	color: #c1b5ab;
	font-size: 15px;
	font-weight: 500;
}

.container{
	padding-top: 20px;
	padding-left: 175px;
	padding-right: 175px;

}

.grid-container{
	background-color: #353535;
	width:960px;
	height: 360px;
	display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    align-items: center;
    margin-bottom: 20px;
    box-sizing: border-box;

}

#g1{
	text-align: center;
	color: white;
	font-weight: 400;	
	font-size: 40px;
}

.box{
	background-color: #EDEDED;
	box-sizing: border-box;
	width: 960px;
	padding: 7px;
}

.container1{
	display: grid;
	grid-template-columns: auto auto auto auto;
	width: 960px;
	justify-content: space-between;
	
}

.f1{
	height: 315px;
	width: 215px;	
	border:2px solid white;
	outline:1px solid #ECECEC;
}


.f2{
	background-color: #353535;
	text-align: center;
	vertical-align: center;
	line-height: 280px;
	color: white;
	font-size: 20px;
	font-weight: 600;
	height: 280px;
}

.f3{
	background-color: #EDEDED;
	height: 35px;
	text-align: center;
	line-height: 35px;
	vertical-align: center;
}

.footer{
	background-color: #353535;
	padding-left: 175px;
	padding-right: 175px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: white;
	font-size: 12px;
}

#s1{
	float: right;
}

